
  
.pesquisa {
    top: 0;
    height: 100vh;
    position: fixed;
    width: 260px;
    padding: 20px;
    right: 0px;
    z-index: 99999999990;
    background: #fff;
    overflow-y: auto;
}
  
.background-pesquisa {
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: 0.65;
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
}
  
@media screen and (max-width: 768px) {
    .pesquisa {
        width: 100% !important;
    }
}
  