<div class="container">

  <div class="d-flex justify-content-center my-4">
    <h1>Gerenciador BBB 2022</h1> 
  </div>

  <div class="d-flex justify-content-end">
    <button class="btn btn-outline-dark mb-3" (click)="limparFiltro()">Limpar filtros</button>
    <button class="btn btn-success mb-3 mx-2" (click)="abrirMenu()">Filtrar</button>
  </div>

  <app-pesquisa [estadoPesquisa]="estadoPesquisa" 
    [participantes]="participantes" 
    (fecharPesquisaEvent)="fecharPesquisa()"
    (atualizaListaParticipantesEvent)="atualizaParticipantes($event)"
  ></app-pesquisa>
  <div class="row" *ngIf="participantesExibir.length > 0; else nenhumResultado;">
    <div class="col-md-3" *ngFor="let participante of participantesExibir">
      <app-cartao 
        [participante]="participante"
        (adicionaParedaoEvent)="atualizaParedao($event)"
        (eliminaEvent)="atualizaEliminado($event)"       
        (desfazerEvent)="desfazer($event)"       
      ></app-cartao>
    </div>    
  </div>
  <ng-template #nenhumResultado>
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <h2>Nenhum resultado encontrado :(</h2>
      </div>    
    </div>
  </ng-template>
</div>
