@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap');

body {
    background: #fbebeb;
    font-family: 'Kanit', sans-serif;
}

.card {
    box-shadow: 2px 2px 40px #a5a0a0;
    border: none;
    transition: box-shadow 0.5s ease-in;
}

.card:hover {
    box-shadow: 3px 3px 80px #000;
    transition: box-shadow 0.5s ease-in;
}